---
import Layout from "../layouts/Layout.astro";
import CategorySection from "../components/CategorySection.astro";
import SearchBar from "../components/SearchBar.astro";

import { symbolsByLang } from "../symbols.json";

interface Symbol {
	title: string;
	image: string;
	category: string;
}

interface Props {
	symbols: Symbol[];
}

export async function getStaticPaths() {
	const paths = [
		{
			lang: undefined,
			symbols: symbolsByLang[0].symbols,
		},
		...symbolsByLang,
	];

	return paths.map((path) => {
		const { lang, symbols } = path;
		return {
			params: { lang: lang },
			props: { symbols },
		};
	});
}

const { lang = "en" } = Astro.params;
const { symbols } = Astro.props;

const washing = symbols.filter((symbol) => {
	return symbol.category === "washing";
});
const bleaching = symbols.filter((symbol) => {
	return symbol.category === "bleaching";
});
const drying = symbols.filter((symbol) => {
	return symbol.category === "drying";
});
const ironing = symbols.filter((symbol) => {
	return symbol.category === "ironing";
});
const professional = symbols.filter((symbol) => {
	return symbol.category === "professional";
});
---

<Layout
	title="Laundry Symbols List"
	description="List of the most common symbols found on clothing describing the way to wash them"
>
	<SearchBar
		current={lang}
		languages={[
			{
				slug: "en",
				emoji: "🇺🇸",
			},
			{
				slug: "pt-br",
				emoji: "🇧🇷",
			},
		]}
	/>
	<main class="m-auto mb-20 max-w-3xl bg-cyan-50 p-3">
		<CategorySection
			symbols={washing}
			title="Washing"
			icon="/img/symbols/washing/wash.svg"
		/>
		<CategorySection
			symbols={bleaching}
			title="Bleaching"
			icon="/img/symbols/bleaching/bleach.svg"
		/>
		<CategorySection
			symbols={drying}
			title="Drying"
			icon="/img/symbols/drying/dry.svg"
		/>
		<CategorySection
			symbols={ironing}
			title="Ironing"
			icon="/img/symbols/ironing/iron.svg"
		/>
		<CategorySection
			symbols={professional}
			title="Professional Cleaning"
			icon="/img/symbols/professional/professional.svg"
		/>
	</main>
</Layout>
