---
import Layout from "../layouts/Layout.astro";
import CategorySection from "../components/CategorySection.astro";
import SearchBar from "../components/SearchBar.astro";

import { symbolsByLang } from "../symbols.json";

interface Symbol {
	title: string;
	image: string;
	category: string;
}

export async function getStaticPaths() {

	const paths = [
		{ 
			lang: undefined,
			symbols: symbolsByLang[0].symbols
		},
		...symbolsByLang
	]
	
	return paths.map((path) => { 
		const { lang, symbols } = path;
		return { 
			params: { lang: lang }, 
			props: { symbols },
		}
	})
}

const { lang = "en" } =  Astro.params;
const { symbols } = Astro.props;

const washing = symbols.filter((symbol) => {
	return symbol.category === "washing";
});
const bleaching = symbols.filter((symbol) => {
	return symbol.category === "bleaching";
});
const drying = symbols.filter((symbol) => {
	return symbol.category === "drying";
});
const ironing = symbols.filter((symbol) => {
	return symbol.category === "ironing";
});
const professional = symbols.filter((symbol) => {
	return symbol.category === "professional";
});
---

<Layout
	title="Laundry Symbols List"
	description="List of the most common symbols found on clothing describing the way to wash them"
>
	<SearchBar 
		current={lang}
		languages={[{ 
			slug: "en", 
			emoji: "🇺🇸"
		},{ 
			slug: "pt-br", 
			emoji: "🇧🇷"
		}]
		}
	/>
	<main class="m-auto mb-20 max-w-3xl bg-cyan-50 p-3">
		<CategorySection
			symbols={washing}
			title="Washing"
			icon="https://upload.wikimedia.org/wikipedia/commons/f/f1/Waschen.svg"
		/>
		<CategorySection
			symbols={bleaching}
			title="Bleaching"
			icon="https://upload.wikimedia.org/wikipedia/commons/7/78/Bleichen.svg"
		/>
		<CategorySection
			symbols={drying}
			title="Drying"
			icon="https://upload.wikimedia.org/wikipedia/commons/6/61/Trocknen.svg"
		/>
		<CategorySection
			symbols={ironing}
			title="Ironing"
			icon="https://upload.wikimedia.org/wikipedia/commons/9/92/B%C3%BCgeln.svg"
		/>
		<CategorySection
			symbols={professional}
			title="Professional Cleaning"
			icon="https://upload.wikimedia.org/wikipedia/commons/7/75/Professionelle_reinigung.svg"
		/>
	</main>
</Layout>
