---
import Card from "../components/Card.astro";

interface Symbol {
	title: string;
	image: string;
	category: string;
}

export interface Props {
	title: string;
	icon: string;
	symbols: Symbol[];
}

const { title, icon, symbols } = Astro.props;
---

<div id={symbols[0].category} class="my-6">
	<div class="mb-3 flex flex-row items-center pt-5">
		<img src={icon} class="mr-3 w-12" alt={`${title} symbol`} />
		<h1 class="font-medium">{title}</h1>
	</div>
	<ul role="list" class="grid grid-cols-2 gap-4 sm:grid-cols-3">
		{
			symbols.map(({ title, image }) => {
				return <Card title={title} image={image} />;
			})
		}
	</ul>
</div>
