---
import Card from "../components/Card.astro";

interface Symbol {
	title: string;
	image: string;
	category: string;
}

export interface Props {
	title: string;
	icon: string;
	symbols: Symbol[];
}

const { title, icon, symbols } = Astro.props;
---

<div id={symbols[0].category} class="my-6">
	<div class="flex flex-row items-center pt-5 mb-3">
		<img
			src={icon}
			class="w-12 mr-3"
		/>
		<h1 class="font-medium">{title}</h1>
	</div>
	<ul role="list" class="grid gap-4 md:grid-cols-3 grid-cols-2">
		{symbols.map(({ title, image }) => {
			return <Card title={title} image={image} />;
		})}
	</ul>
</div>