---
import Card from "~/components/Card.astro";

interface Symbol {
	title: string;
	image: string;
	category: string;
}

export interface Props {
	title: string;
	icon: string;
	symbols: Symbol[];
}

const { title, icon, symbols } = Astro.props;
---

<div id={symbols[0].category}>
	<div class="pt-16 sticky top-0" >
		<a class="mb-3 mx-auto flex flex-row items-center px-4 py-2 rounded-full bg-cyan-50 w-fit" href={`#${symbols[0].category}`}>
			<img
				width="48"
				height="48"
				src={icon}
				class="mr-2 w-9"
				alt={`${title} symbol`}
			/>
			<h1 class="font-medium md:text-lg tracking-wide">{title}</h1>
		</a>
	</div>
	<ul role="list" class="grid grid-cols-2 gap-4 sm:grid-cols-3">
		{
			symbols.map(({ title, image }) => {
				return <Card title={title} image={image} />;
			})
		}
	</ul>
</div>
