---
export interface Props {
	title?: string;
	description?: string;
}

const { title = "title", description = "description" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-cyan-50">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />

        <meta property="og:title" content={title} />
        <meta
          property="og:description"
          content={description}
        />

	</head>
	<header class="fixed flex w-full bottom-0 xl:left-52 xl:top-0 xl:h-full xl:w-fit">
		<nav class="w-fit m-auto bg-cyan-100 p-3 rounded-t-xl xl:rounded-full drop-shadow-lg">
			<ul class="grid grid-cols-5 xl:grid-rows-5 xl:grid-cols-1 gap-4">
				<li>
					<a href="#washing">
						<img
							src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Waschen.svg"
							class="w-12"
							alt="whashing symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#bleaching">
						<img
							src="https://upload.wikimedia.org/wikipedia/commons/7/78/Bleichen.svg"
							class="w-12"
							alt="bleaching symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#drying">
						<img
							src="https://upload.wikimedia.org/wikipedia/commons/6/61/Trocknen.svg"
							class="w-12"
							alt="drying symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#ironing">
						<img
							src="https://upload.wikimedia.org/wikipedia/commons/9/92/B%C3%BCgeln.svg"
							class="w-12"
							alt="ironing symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#professional">
						<img
							src="https://upload.wikimedia.org/wikipedia/commons/7/75/Professionelle_reinigung.svg"
							class="w-12"
							alt="professional symbol"
						/>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>
		<slot />
	</body>
</html>
