---
export interface Props {
	title?: string;
	description?: string;
}

const { title = "title", description = "description" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-cyan-50">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
	</head>
	<header
		class="fixed bottom-0 flex w-full xl:left-52 xl:top-0 xl:h-full xl:w-fit"
	>
		<nav
			class="m-auto w-fit rounded-t-xl bg-cyan-100 p-3 drop-shadow-lg xl:rounded-full"
		>
			<ul class="grid grid-cols-5 gap-4 xl:grid-cols-1 xl:grid-rows-5">
				<li>
					<a href="#washing">
						<img
							src="/img/symbols/washing/wash.svg"
							class="w-12"
							alt="whashing symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#bleaching">
						<img
							src="/img/symbols/bleaching/bleach.svg"
							class="w-12"
							alt="bleaching symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#drying">
						<img
							src="/img/symbols/drying/dry.svg"
							class="w-12"
							alt="drying symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#ironing">
						<img
							src="/img/symbols/ironing/iron.svg"
							class="w-12"
							alt="ironing symbol"
						/>
					</a>
				</li>
				<li>
					<a href="#professional">
						<img
							src="/img/symbols/professional/professional.svg"
							class="w-12"
							alt="professional symbol"
						/>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>
		<slot />
	</body>


</html>
